.ingredient {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__item {
    font-size: 1.6rem;
    display: flex;
    gap: 1.8rem;
    align-items: flex-start;
    label {
      line-height: 1.5;
    }
  }

  @include response($bp-sm) {
    &__item {
      font-size: 1.4rem;
    }
  }
}

.checkbox {
  width: 2.1rem;
  height: 2.1rem;
  flex: 0 0 auto;
}
